<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add
    name="ItemContext"
    connectionString="data source=(localdb)/MacroTracking;initial catalog=Item;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
    providerName="System.Data.SqlClient" />
</connectionStrings>