<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MacroTracking</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Track
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Routines">
                <span class="oi oi-book" aria-hidden="true"></span> Routines
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Weight">
                <span class="oi oi-person" aria-hidden="true"></span> Weight
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Records">
                <span class="oi oi-badge"ia-hidden="true"></span> Records
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
